<div class="content row col-md-6 col-md-offset-3 bubble" data-time="<%= content.created_at.to_i %>">
  <b><%= content.owner %>:</b> <%= content.title %>
  <% if content.file? %>
      <%= image_tag content.file.url, class: "img-responsive", width: "50%" %>
  <% end %>
</div>