<div class="container center-block text-center">
  <h1> Search Results </h1>
  <h5> Query: <%= params[:q] %></h5>
  <h6> <%= @results.size %> results found </h6>
  <hr/>


  <div class="text-left">
    <% if @results.size > 0 %>
        <%= render @results %>
    <% else %>
        No results found
    <% end %>
  </div>

  <hr/>

</div>
