<div class="container center-block text-center">

  <div class="results" num="<%= @results.size %>">
    <h4><%= @results.size %> results found for <b>"<%= params[:q] %>"</b></h4>

    <div class="text-left">
      <% if @results.size > 0 %>
          <%= render @results %>
      <% end %>
    </div>

  </div>

</div>
