<div class="container center-block text-center">

  <p class="lead">
  <h4><%= @results.size %> results found for <b> <%= params[:q] %> </b></h4>
  </p>

  <div class="text-left">
    <% if @results.size > 0 %>
        <%= render @results %>
    <% end %>
  </div>

</div>
